{{ define "body_classes" }}page-default-single{{ end }}

{{ define "main" }}

  {{ if .Site.Params.showAuthorOnPages }}
    {{ if eq .Title "CV" }}
      {{ partial "author-large.html" . }}
    {{ else }}
      {{ partial "author.html" . }}
    {{ end }}
  {{ end }}

<div class="intro">
  <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">{{ .Params.dot_char | default "." }}</span>{{ end }}</h1>
  {{ if .Params.image }}
  <img alt="{{.Params.imageAltAttribute | default "Article hero image"}}" src="{{ .Params.image | relURL }}" />
  {{ end }}
</div>

<div class="content">
  {{ .Content }}
</div>
{{ end }}
