<header id="header" class="alt">
  <!-- <h1 id="logo"><a href="index.html">Resume <span>by Katie Russ</span></a></h1> -->
  <h1 id="logo"><a href="index.html">Resume <span>katie7r</span></a></h1>

  <nav id="nav">
    <ul>
      <li class="current"><a href="index.html">Hello</a></li>
      <li class="submenu">
        <a href="#">Jump To</a>

        {% include header.links.html %}

      </li>
      <li>
        <a href="https://github.com/katie7r" target="_blank" class="button special">
          <span class="icon fa-github">GitHub</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
