<!-- Footer -->
<section id="footer" class="wrapper">
  <div class="inner">
    <div class="split">
      <div class="content">
        <header>
          <h2>About</h2>
        </header>
        <p>Lorem ipsum dolor amet et donec convallis placerat varius. Phasellus sagittis, urna blanSapien lectus lorem
          tempus ut purus consequat. Sed veroeros et nisl urna lacinia lorem. Aenean at adipiscing lorem. Nunc risus
          augue, ullamcorper eget posuere.</p>
        <ul class="actions">
          <li><a href="#" class="button next">Full Story</a></li>
        </ul>
      </div>
      <ul class="contact-icons">
        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">twitter.com/untitled</span></a></li>
        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">facebook.com/untitled</span></a></li>
        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">instagram.com/untitled</span></a></li>
        <li><a href="#" class="icon solid alt fa-envelope"><span class="label">contact@untitled.tld</span></a></li>
      </ul>
    </div>
  </div>
</section>

<!-- Copyright -->
<section class="wrapper style2 copyright">
  <div class="inner">
    &copy; Untitled. All rights reserved. Lorem ipsum dolor sit amet.
  </div>
</section>
