.cv {
  .cv-main {
    order: 2;
  }

  .cv-side {
    margin-bottom: 30px;
    order: 1;
  }

  .cv-edu-end {
    display: block;
    order: 3;
  }

  .cv-edu, .cv-edu-print {
    display: none;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 1ex;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 1ex;
  }

  p, ol li, ul li {
    line-height: 1.4;
  }

  #contact + ul {
    margin-left: 0;

    li {
      list-style: none;
      margin-left: 0;
      margin-bottom: 0.4em;

      p {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: none;
    }

    svg {
      height: 1em;
      margin-bottom: -0.25em;
    }
  }

  @include breakpoint('small') {
    display: flex;
    flex-direction: row;

    .cv-main {
      flex: 1;
      margin-right: 2.5em;
      order: 1;
    }

    .cv-side {
      flex: 0;
      min-width: 25ex;
      order: 2;
    }

    .cv-edu-print, .cv-edu-end {
      display: none;
    }

    .cv-edu {
      display: block;
      margin-top: 20px;
    }
  }
}
