.dark-mode {
  .social-icon img {
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  [data-theme-mode="dark"] {
    display: none;
  }
}

body:not(.dark-mode) {
  [data-theme-mode="light"] {
    display: none;
  }
}

#toggle-theme-mode {
  margin-right: 10px;
  margin-bottom: -0.5em;

  @include breakpoint('medium') {
    margin-right: 0;
    margin-bottom: -0.25em;
    margin-left: 10px;
  }

  svg {
    height: 1.25em;
    width: 1.25em;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
