<div class='header'>
  <a class="header-logo" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
  <div class="menu-main">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq (.URL | relLangURL) ($currentPage.RelPermalink | relLangURL)) }}
      <li class="menu-item-{{ .Name | lower }} {{ if $active }}active{{ end }}">
        <a href="{{.URL}}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      </li>
      {{end}}
      <li class="menu-item-theme-mode">
        <a href id="toggle-theme-mode">
          <span data-theme-mode="light">
            <span class="hide-accessibly">Toggle light mode</span>
            {{ readFile "static/images/sun.svg" | safeHTML }}
          </span>
          <span data-theme-mode="dark">
            <span class="hide-accessibly">Toggle dark mode</span>
            {{ readFile "static/images/moon.svg" | safeHTML }}
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div id="toggle-menu-main-mobile" class="hamburger-trigger">
    <button class="hamburger">Menu</button>
  </div>
</div>
